@import "colors.css";

.toolbar {
    -fx-background-color: -surfaces-color;
    -fx-border-color: -border-color;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 12 20 12 20;
}

.app-title {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: -primary-accent-color;
}

.sidebar {
    -fx-background-color: -sidebar-color;
    -fx-border-color: -border-color;
    -fx-border-width: 0 2 0 0;
    -fx-padding: 16 12 16 12;
}

.sidebar-title {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: -muted-text-color;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: -secondary-text-color;
    -fx-font-size: 13px;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-color: transparent;
    -fx-padding: 8 12 8 12;
    -fx-cursor: hand;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: -border-color;
}

.button-primary {
    -fx-background-color: -primary-accent-color;
    -fx-text-fill: -surfaces-color;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-border-width: 0;
    -fx-alignment: CENTER;
}

.button-primary:hover {
    -fx-background-color: -primary-accent-hover-color;
}

#createProjectBtn {
    -fx-padding: 10 12 10 12;
    -fx-font-size: 14px;
}

.welcome-label {
    -fx-font-size: 20px;
    -fx-text-fill: -surfaces-color;
    -fx-font-weight: bold;
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 8;
    -fx-padding: 12 24 12 24;
}

.welcome-pane {
    -fx-background-image: url("../images/main-background.jpg");
    -fx-background-repeat: repeat;
    -fx-background-size: cover;
}

.list-view {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -primary-text-color;
    -fx-padding: 8 10 8 10;
    -fx-background-radius: 6;
    -fx-font-size: 13;
}

.list-cell:hover {
    -fx-background-color: -border-color;
}

.list-cell:selected {
    -fx-background-color: -primary-accent-color;
    -fx-text-fill: white;
    -fx-background-radius: 6;
}

.list-cell:empty {
    -fx-background-color: transparent;
}

.list-cell:empty:hover {
    -fx-background-color: transparent;
}

/* Project dialog */
.project-dialog {
    -fx-font-family: "Roboto", "Segoe UI", sans-serif;
    -fx-background-color: -app-background-color;
    -fx-font-size: 14;
}

.project-dialog .button{
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

.project-dialog .button:default {
    -fx-background-color: -primary-accent-color, -primary-accent-color;
}

.project-dialog .button:default:hover {
    -fx-background-color: -primary-accent-hover-color, -primary-accent-hover-color;
}

.project-dialog .button:cancel {
    -fx-background-color: -critical-accent-color, -critical-accent-color;
}

.project-dialog .button:cancel:hover {
    -fx-background-color: -critical-accent-hover-color, -critical-accent-hover-color;
}

.error-label {
    -fx-text-fill: -critical-accent-color;
    -fx-font-size: 11;
}

.text-field {
    -fx-padding: 8 12;
    -fx-font-size: 12;
    -fx-text-fill: #333;
    -fx-background-color: -app-background-color, -surfaces-color;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 6, 5;
    -fx-border-width: 2;
    -fx-border-radius: 6;
}

.text-field:focused {
    -fx-background-color: -primary-accent-color, -surfaces-color;
}

.text-field.field-error {
    -fx-background-color: -critical-accent-color, #ffffff;
    -fx-background-insets: 0, 2;
}

.text-area {
    -fx-padding: 1;
    -fx-font-size: 12;
    -fx-background-color: -app-background-color, -surfaces-color;
    -fx-background-radius: 6, 4;
    -fx-border-width: 0;
    -fx-background-insets: 0, 2.5;
}

.text-area .content {
    -fx-background-color: -surfaces-color;
    -fx-padding: 8 8 12 8;
}

.text-area:focused {
    -fx-background-color: -primary-accent-color, -surfaces-color;
}

.combo-box {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-color: -app-background-color;
    -fx-background-insets: 0;
}

.combo-box:focused {
    -fx-border-color: -primary-accent-color;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-background-insets: 0;
}

.combo-box > .arrow-button {
    -fx-background-color: #f4f4f4;
    -fx-background-insets: 0;
    -fx-background-radius: 0 6 6 0;
    -fx-border-width: 0;
    -fx-padding: 0 10;
}

.combo-box > .list-cell {
    -fx-background-color: -surfaces-color;
    -fx-text-fill: #333;
}

.combo-box > .arrow-button > .arrow {
    -fx-background-color: #666;
    -fx-shape: "M 0 0 L 4 4 L 8 0 Z";
    -fx-padding: 3 4;
}

.combo-box {
    -fx-background-color: white;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-width: 1;
}

.combo-box > .list-cell {
    -fx-background-insets: 0;
    -fx-padding: 8 12;
}

/* container stylization */
.combo-box .list-view {
    -fx-background-color: -surfaces-color;
    -fx-background-radius: 6;
    -fx-border-color: -border-color;
    -fx-border-radius: 6;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

/* cell stylization */
.combo-box .list-view .list-cell {
    -fx-padding: 8 12;
    -fx-background-color: transparent;
    -fx-text-fill: #333;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.combo-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color: -primary-accent-color;
    -fx-text-fill: -surfaces-color;
}

.date-picker {
    -fx-background-color: transparent;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-width: 2;
    -fx-border-color: transparent;
}

.date-picker:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: -primary-accent-color;
}

.date-picker.field-error {
    -fx-background-color: -critical-accent-color, #ffffff;
    -fx-background-insets: 0, 2;
}

.date-picker > .text-field {
    -fx-background-color: -surfaces-color;
    -fx-background-insets: 0;
    -fx-background-radius: 6 0 0 6;
    -fx-padding: 8 12;
    -fx-font-size: 12;
}

.date-picker > .arrow-button {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 0 6 6 0;
    -fx-cursor: hand;
}

.date-picker > .arrow-button > .arrow {
    -fx-shape: "M7 11h2v2H7v-2zm14-5v14c0 1.1-.9 2-2 2H5c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2h1V2h2v2h8V2h2v2h1c1.1 0 2 .9 2 2zM5 8h14V6H5v2zm14 12V10H5v10h14z";
    -fx-background-color: #666;
}

.date-picker-popup {
    -fx-border-color: #cccccc;
    -fx-border-radius: 4;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: #f4f4f4;
}

.date-picker-popup > .calendar-grid > .day-cell:selected,
.date-picker-popup > .calendar-grid > .today {
    -fx-background-color: #91C4C8;
    -fx-text-fill: white;
}

.date-picker-popup > .calendar-grid > .day-cell:hover {
    -fx-background-color: #e0f2f3;
    -fx-text-fill: #333;
}

/* TASK CARD */
.task-card {
    -fx-background-color: -surfaces-color;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 4);
    -fx-cursor: hand;
}

.task-card:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 15, 0, 0, 6);
}

.task-card .task-title {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.task-card .task-description {
    -fx-font-size: 13;
    -fx-font-weight: 200;
    -fx-text-fill: #444;
}

.task-card .task-date {
    -fx-font-size: 12;
}

.task-card .edit-button {
    -fx-background-color: transparent;
    -fx-padding: 2;
    -fx-cursor: hand;
}

.task-card .edit-button .font-icon {
    -fx-icon-color: #666;
}

.edit-button:hover .font-icon{
    -fx-icon-color: #444;
}

.icon-gray {
    -fx-icon-color: #666;
}


.task-card .overdue {
    -fx-icon-color: -critical-accent-hover-color;
}

/* KANBAN */
.kanban-board {
    -fx-background-image: url("../images/main-background.jpg");
    -fx-background-repeat: repeat;
    -fx-background-size: cover;
}

.kanban-column{
   -fx-background-color: rgba(0, 0, 0, 0.2);
   -fx-background-radius: 12;
}

.kanban-column .column-title {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}

.cards-container {
    -fx-background-color: transparent;
}

.kanban-column .add-task-btn {
    -fx-font-weight: bold;
}

.kanban-column .add-task-btn:hover {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-text-fill: #fff;
}

.column-scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.column-scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 6;
    -fx-background-color: transparent;
}

.column-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: -muted-text-color;
    -fx-background-radius: 3;
}

.column-scroll-pane .scroll-bar:vertical .track,
.column-scroll-pane .scroll-bar:vertical .increment-button,
.column-scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}

.column-scroll-pane .viewport {
    -fx-background-color: transparent;
}

.task-card {
    -fx-background-color: transparent;
}

/* TASK DIALOG */
.task-dialog {
    -fx-font-family: "Roboto", "Segoe UI", sans-serif;
    -fx-background-color: -app-background-color;
    -fx-font-size: 14;
}

.task-dialog .button{
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

.task-dialog .delete-btn {
    -fx-padding: 8;
    -fx-background-color: -critical-accent-color, -critical-accent-color;
}

.task-dialog .delete-btn:hover {
    -fx-background-color: -critical-accent-hover-color, -critical-accent-hover-color;
}

.task-dialog .button:default {
    -fx-background-color: -primary-accent-color, -primary-accent-color;
}

.task-dialog .button:default:hover {
    -fx-background-color: -primary-accent-hover-color, -primary-accent-hover-color;
}

.task-dialog .button:cancel {
    -fx-background-color: -critical-accent-color, -critical-accent-color;
}

.task-dialog .button:cancel:hover {
    -fx-background-color: -critical-accent-hover-color, -critical-accent-hover-color;
}